.back-to-login {
  font-size: 25px;
  display: flex;
  align-items: center;
  color: darkgrey;
  margin-top: 5px;
}
.back-to-login-link {
  font-size: 16px;
  text-decoration: none;
  color: darkgrey;
}
.back-to-login-link:hover {
  color: #111;
  transition: 0.5s;
}
.forget-password-status {
  color: rgb(64, 173, 37);
  font-size: 14px;
  height: 25px;
}
