.user-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.user-search {
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
}
.user-search > input {
  width: 250px;
  height: 100%;
  border-radius: 2px;
  background-color: rgba(4, 29, 34, 0.4);
  border: 1px solid rgba(1, 204, 255, 0.6);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 12px;
}
.user-search > input:focus {
  outline: none;
}
.user-search > input::placeholder {
  color: rgba(185, 184, 184, 0.8);
}
.user-search > div {
  position: relative;
  top: 15px;
  left: -20px;
  height: 14px;
  width: 14px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: hsla(0, 0%, 100%, 0.6);
  transform: translateY(-50%);
  background: url(../../../../images/searchicon.png) no-repeat 50%;
}
.user-table-container {
  width: 100%;
  max-height: 290px;
  border: 1px solid darkgray;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
}
.user-table-container > table {
  border-spacing: 0;
  width: 100%;
}
.user-table-header {
  width: 100%;
  text-align: left;
}
.user-table-header > tr {
  height: 50px;
  background-image: linear-gradient(to left, #0b2440, #033c3e);
}
.user-table-header > tr > th {
  position: sticky;
  top: 0;
  width: 20%;
  border-bottom: 1px solid darkgray;
  padding-left: 20px;
  background-color: #0b2440;
}
.user-table-body {
  width: 100%;
  text-align: left;
}
.user-table-body tr {
  height: 40px;
}
.user-table-body td {
  width: 20%;
  border-bottom: 1px solid darkgray;
  padding-left: 20px;
}
.user-table-body tr:nth-child(2n) {
  background-color: rgba(101, 154, 252, 0.123);
}
.user-table-body tr:hover {
  background-color: #0e779e;
}
.user-table-body button {
  padding: 3px;
}
.user-infor-editor {
  width: 100%;
  height: 240px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  padding: 20px;
  color: aliceblue;
}
.user-infor-editor-row-2 > div {
  margin-top: 5px;
}
.user-infor-editor-row-2 > div > span {
  margin-left: 10px;
  color: rgb(169, 169, 169);
}
.user-infor-editor-row-3 > button,
.user-infor-editor-delete button,
.user-infor-editor-reset-pass-row-3 > button {
  width: 158px;
  height: 30px;
  color: #40f9ff;
  cursor: pointer;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #28c6de;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  margin-right: 15px;
  font-size: 14px;
}
.user-infor-editor-row-3 > button:hover,
.user-infor-editor-delete button:hover,
.user-infor-editor-reset-pass-row-3 > button:hover {
  transition: 0.5s;
  background-color: #095e6b;
  color: white;
}
.user-infor-editor-row-3 > button:focus,
.user-infor-editor-delete button:focus,
.user-infor-editor-reset-pass-row-3 > button:focus {
  outline: #28c6de solid 1px;
}
.user-infor-editor-delete {
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  padding: 20px;
  color: aliceblue;
}
.user-infor-editor-reset-pass {
  width: 100%;
  height: 240px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: aliceblue;
}
.user-infor-editor-reset-pass-row-1 span {
  color: darkgrey;
}
.user-infor-editor-reset-pass-row-2 {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.user-infor-editor-reset-pass-row-2 > div {
  width: 200px;
}
.user-infor-editor-reset-pass-row-2 > input {
  width: 200px;
  height: 30px;
  background-color: #083541;
  border: solid 1px #00f9fc;
  color: #f1f1f1;
  padding: 0 10px;
  font-size: 15px;
}
.user-infor-editor-reset-pass-row-2 > input::placeholder {
  font-size: 14px;
  color: rgb(138, 135, 135);
}
.user-infor-editor-reset-pass-row-2 > input:focus {
  outline: none;
  border-bottom: solid 2px #00f9fc;
}
.user-infor-editor-reset-pass-error,
.user-infor-editor-reset-pass-status {
  height: 25px;
  margin-top: 10px;
}
.user-infor-editor-reset-pass-error {
  color: rgb(248, 82, 82);
}
.user-infor-editor-reset-pass-status {
  color: greenyellow;
}
